.chat-messages{
     display: flex;
     gap:10px;
     align-items: center;
     padding:20px;
    p{
        display: inline;
        background-color: aliceblue;
        border-radius: 5px;
        border: none;
        padding:10px;
    }
}