.chatInput{
    box-sizing: border-box;
    display: flex;
    gap:10px;
    padding:20px;
    justify-content: space-between;
 input{
    padding:10px;
    border-radius: 5px;
    min-width: 300px;
    border:1px solid grey;
    width:100%;
 }
 button{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border:1px solid white;
 }
}